canvas {
  width: 100%;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0; }

  @media screen and (max-height: 767px) and (orientation: landscape) {
    canvas {
      width: auto; }
  }

.row {
  margin-bottom: 20px; }

.btn {
  margin-bottom: 5px; }
